$text-color: #333333
$text-color-hover: #000

body
    margin: 0
    padding: 0
    font-family: sans-serif

.nav-item
    padding: 1rem 1rem

    .nav-link
        color: $text-color
        font-weight: 600

.nav-item a:hover
    color: $text-color-hover

.hero
    display: flex

.jumboImg img
    width: 100%

.heroText
    margin: 15rem 5rem
    color: $text-color

.text-right
    padding: 3rem
    margin-right: 8rem
    margin-bottom: 0

.academyImg
    padding: 0 !important
    
.academyImg img
    width: 350px
    height: 600px
    object-fit: cover
    object-position: 20% 0%

.evietImg
    padding: 0 !important

.evietImg img
    width: 730px
    height: 300px
    object-fit: cover
    object-position: 20% 0%

.lipsImg img
    width: 360px
    height: 300px
    object-fit: cover
    object-position: 20% 0%

.projects
    margin: 5rem 0

.contact
    padding: 5rem 0

.profileIcons
    position: relative
    left: 93.5rem

.copyright
    text-align: center