$text-color: #333333
$text-color-hover: #000

html
    scroll-behavior: smooth


body
    margin: 0
    padding: 0
    font-family: sans-serif

.nav-item
    padding: 1rem 1rem

    .nav-link
        color: $text-color
        font-weight: 600

.nav-item a:hover
    color: $text-color-hover

.hero
    display: flex

.jumboImg img
    width: 100%

.heroText
    margin: 15rem 5rem
    color: $text-color

.text-right
    padding: 3rem
    margin-right: 8rem
    margin-bottom: 0

.academyImg
    padding: 0 !important
    
.academyImg img
    width: 350px
    height: 600px
    object-fit: cover
    object-position: 20% 0%

.evietImg
    padding: 0 !important

.evietImg img
    width: 730px
    height: 300px
    object-fit: cover
    object-position: 20% 0%

.lipsImg img
    width: 360px
    height: 300px
    object-fit: cover
    object-position: 20% 0%

.techImg img
    width: 360px
    height: 300px
    object-fit: cover
    object-position: 20% 0%

.projects
    margin: 5rem 0

.contact
    padding: 5rem 0

.profileIcons
    position: relative
    left: 93.5rem

.github:hover
    background-color: $text-color
    filter: grayscale(1) invert(1)

.linkedin:hover
    background-color: $text-color
    filter: grayscale(1) invert(1)

.copyright
    text-align: center

@media only screen and (max-width: 600px) 

    .hero
        display: inline

    .heroText
        margin: 4rem 5rem

    .text-right
        margin: 0
        padding: 4rem 25rem 2rem 0
    
    .container
        padding: 2rem
    
    .academyImg
        height: 300px

        img
            width: 540px
            height: 500px
            padding: 3rem

    .evietImg img
        width: 540px
        margin: 10rem 0 1rem 0
        padding: 2rem
        height: 500px

    .techImg img
        width: 540px
        margin-top: 0 !important
        padding-left: 3rem

    .projectRows
        display: block !important

    .lipsImg
        width: 360px !important

        img
            margin-top: 0 !important

    .contact
        padding-top: 0

    .projects
        margin-bottom: 2rem

    .profileIcons
        position: relative
        left: 1px
        padding: 4rem

@media only screen and ( max-width: 768px ) and (min-width: 601px )

    .jumboImg img
        width: 420px
        padding-top: 0rem
    
    .heroText
        margin: 0
        padding-top: 4rem
        padding-left: 1rem
    
        h1 
            font-size: 24px

    .text-right
        margin-right: 1rem
        font-size: 24px

    .academyImg img
        width: 175px

    .evietImg img
        width: 320px

    .lipsImg
        width: 210px !important
        padding-right: 0 !important

        img
            width: 155px

    .techImg
        padding-left: 0 !important

        img
            width: 155px

    .projects
        margin-top: 1rem
        margin-bottom: 0
        padding-left: 2.5rem

    .profileIcons
        position: relative
        left: 10px
        padding: 0 2rem 0 23.5rem

        img
            width: 80px

    .contact
        padding-top: 0

    .copyright p 
        font-size: 14px

@media only screen and ( max-width: 900px ) and (min-width: 769px )

    .jumboImg img
        width: 540px

    .heroText
        margin: 0
        padding: 5rem 3rem 2rem 1.5rem

        h1 
            font-size: 28px

    .text-right
        margin-right: 0
        padding-right: 5rem
    
    .projects
        margin: 0
        padding: 2rem 2rem 2rem 3.5rem

    .academyImg
        width: 220px

        img
            width: 220px

    .evietImg
        width: 320px

        img
            width: 435px

    .lipsImg
        width: 120px
        padding-right: 0 !important

        img
            width: 210px

    .techImg
        width: 240px

        img
            width: 210px

    .contact
        padding: 2rem

    .profileIcons
        position: relative
        left: 2rem
        padding: 1rem 2rem 1rem 22.5rem

@media only screen and ( max-width: 1079px ) and (min-width: 901px )

    .jumboImg img
        width: 600px

    .heroText
        margin: 0
        padding: 5rem 3rem 2rem 3.5rem

        h1 
            font-size: 32px

    .text-right
        margin-right: 0
        padding-right: 3.5rem
        padding-bottom: 1rem

    .projects
        margin: 0
        padding: 1rem 3rem 1rem 4rem

    .academyImg
        width: 235px

        img
            width: 235px

    .evietImg
        width: 470px

        img
            width: 470px

    .lipsImg
        width: 230px
        padding-right: 0 !important

        img
            width: 230px

    .techImg
        width: 230px

        img
            width: 230px

    .profileIcons
        position: relative
        left: 2px
        padding: 1rem 2rem 1rem 38rem

@media only screen and (min-width: 1080px)

    .jumboImg img
        width: 1200px

    .heroText
        margin: 0   
        padding: 14rem 2rem 10rem 5rem

        h1 
            font-size: 50px

    .text-right
        margin-right: 0
        padding-right: 25rem
        font-size: 42px

    .projects
        margin: 0

    .academyImg img
        width: 375px

    .evietImg img
        width: 740px

    .lipsImg
        padding-right: 0

        img
            width: 375px

    .techImg img
        width: 360px

    .profileIcons
        position: relative
        left: 5px
        padding: 1rem 2rem 1rem 80rem